<div class="card bg-light mb-3">
  <div class="card-header ">{{titulo}}</div>
  <div class="card-body">
    <ul class="alert alert-danger" *ngIf="errores">
      <li *ngFor="let e of errores">
        {{e}}
      </li>
    </ul>
      <form>
        <div class="form-group">
          <button type="button" class="btn btn-primary" routerLink="/listar"> Volver</button>


      </div>

          <div class="form-group">
              <label for="nombre">Titulo</label>
              <input type="text" name="nombre" class="form-control" id="nombre"
              [(ngModel)]="noticia.titulo">
              <div class="alert alert-danger" *ngIf="error?.titulo">
                {{ error.titulo }}

              </div>
          </div>
          <div class="form-group">
              <label for="pagina">Cuerpo</label>
              <textarea type="textarea" name="apellido" class="form-control" id="apellido" [(ngModel)]="noticia.cuerpo"></textarea>

              <div class="alert alert-danger" *ngIf="error?.cuerpo">
                {{ error.cuerpo}}

              </div>
          </div>



       <!--
          <div class="form-group">
              <label for="editorial" class="form-control">Editoriales</label>
              <select [compareWith]="compararEditorial" name="editorial" id="Editorial" class="form-control"    [(ngModel)]="libro.editorial"  >
                  <option value="">Seleccione Editorial</option>
                  <option *ngFor="let editorial of editoriales" [ngValue]="editorial" >
                      {{editorial.nombre}}
                  </option>
                </select>
          </div>
-->
          <div class="form-group my-3">
              <button type="button" class="btn btn-dark" (click)="crear()" *ngIf="!noticia.id"> Crear</button>


          </div>
          <div class="form-group">
            <button type="button" class="btn btn-dark" (click)="editar(noticia)" *ngIf="noticia.id"> Editar</button>


        </div>
      </form>
  </div>
</div>

