<div class="abrir-modal animation fadein" *ngIf="modal.modal" >
  <div *ngIf="modal.modal" class="modal" tabindex="-1" style="display:block">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{titulo}}</h5>
          <button (click)="cerrarModal()" type="button" class="btn-close" data-bs-dismiss="modal"
            aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="container">
            <div class="row">
              <div class="col-sm">
                <ul class="list-group text-dark" >
                  <li class="list-group-item">{{noticia.titulo}}</li>
                  <li class="list-group-item">{{noticia.cuerpo}}</li>
                  <li class="list-group-item">{{noticia.fecha | date:"fullDate"}}</li>

                </ul>
                <div class="mb-3">
                  <label for="formFileSm" class="form-label">Seleccione una imagen</label>
                  <input class="form-control form-control-sm" id="formFileSm" type="file"
                    (change)="seleccionarFoto($event)">
                  <button  class="btn btn-dark btn-sm my-2"
                    [disabled]="!fotoSeleccionada" (click)="subirFoto()">subir</button>
                </div>
              </div>
              <div class="col-sm" >
                <img *ngIf="noticia.foto" src="http://localhost:8080/noticia/upload/img/{{noticia.foto}}"
                  class="img-thumbnail rounded">

              </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="cerrarModal()">Close</button>

        </div>
      </div>
    </div>
  </div>

</div>
