<div class="container">
<main role="main" class="inner cover">
  <h1 class="cover-heading">Noticias Egg</h1>
  <p class="lead">Este es el portal de noticias de Egg </p>
  <p class="lead">
    <a  class="btn btn-lg btn-secondary" (click)="registrar()">Registrate</a>
  </p>
</main>
</div>

<div class="color">
<div class="container ">
<div class="row ">
    <div class="card text-white bg-primary m-2" style="max-width: 18rem;" *ngFor="let n of noticias">
        <div class="card-header">fecha: {{n.fecha | date:'dd-mm-yy'}}</div>
        <div class="card-body">
          <h5 class="card-title">{{n.titulo}}</h5>
          <p class="card-text">{{n.cuerpo}}</p>
          <button [routerLink]="['/verNoticia/',n.id]" class="btn btn-success btn-sm ">ver</button>
        </div>
      </div>
      <div class="alert alert-danger" *ngIf="error">
        {{ error }}

      </div>
</div>
</div>
</div>
