<div class="container my-3" >
    <div class="row " *ngIf="noticia!=null">
        <div class="card text-white bg-primary m-2" style="max-width: 100%;" >
          <img *ngIf="noticia.foto"   src="http://localhost:8080/noticia/upload/img/{{noticia.foto}}" class="img-thumbnail rounded"
          style="width:100px;  ">
          <img *ngIf="!noticia.foto"   src="http://localhost:8080/img/no-user.png" class="img-thumbnail rounded"
          style="width:100px; ">

            <div class="card-header">{{noticia.fecha}}</div>
            <div class="card-body">
              <h5 class="card-title">{{noticia.titulo}}</h5>
              <p class="card-text">{{noticia.cuerpo}}</p>

            </div>
          </div>
    </div>
    <button class="btn btn-success" routerLink="/noticia">Volver</button>
    </div>
